-i https://pypi.org/simple/
awsebcli==3.14.8
backcall==0.1.0
bleach==3.1.0
blessed==1.16.0
botocore==1.12.253
cached-property==1.5.1
cement==2.8.2
certifi==2019.9.11
chardet==3.0.4
colorama==0.3.9
confusable-homoglyphs==3.2.0
decorator==4.4.0
defusedxml==0.6.0
django-cors-headers==2.4.0
django-registration==3.0
django==2.1.11
djangorestframework==3.9.0
docker-compose==1.21.2
docker-pycreds==0.4.0
docker==3.7.3
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
entrypoints==0.3
idna==2.6
ipykernel==5.1.0
ipython-genutils==0.2.0
ipython==7.2.0
ipywidgets==7.5.1
jedi==0.15.1
jinja2==2.10.3
jmespath==0.9.4
jsonschema==2.6.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.0
jupyter==1.0.0
markupsafe==1.1.1
mistune==0.8.4
nbconvert==5.6.0
nbformat==4.4.0
notebook==6.0.1
numpy==1.15.4
pandas==0.23.4
pandocfilters==1.4.2
parso==0.5.1
pathspec==0.5.5
pexpect==4.7.0 ; sys_platform != 'win32'
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==2.0.10
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0 ; os_name != 'nt'
pygments==2.4.2
python-dateutil==2.8.0 ; python_version >= '2.7'
pytz==2019.3
pyyaml==3.13
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.18.4
semantic-version==2.5.0
send2trash==1.5.0
six==1.11.0
sqlalchemy==1.2.15
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
texttable==0.9.1
tornado==6.0.3
traitlets==4.3.3
urllib3==1.22 ; python_version >= '3.4'
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
widgetsnbextension==3.5.1
